body{
background:#000;
color:#eee;
font-family:system-ui;
margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
width:700px;
backdrop-filter:blur(25px);
background:rgba(20,20,20,0.7);
padding:30px;
border-radius:16px;
box-shadow:0 0 40px rgba(0,0,0,0.7);
}

textarea,input{
width:100%;
margin:10px 0;
background:#0a0a0a;
border:1px solid #222;
color:#fff;
padding:10px;
border-radius:8px;
}

button{
background:#111;
border:1px solid #333;
padding:10px;
margin:5px;
color:white;
cursor:pointer;
}

button:hover{
border-color:#3b82f6;
box-shadow:0 0 10px #3b82f6;
}

button:nth-child(2):hover{
border-color:#ef4444;
box-shadow:0 0 10px #ef4444;
}

textarea{
height:140px;
}
